<ion-view title="Formularios" id="page2">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/a0cya1wQigtcTWsTuLzg_atlas1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="parqueaderos" id="formularios-button2" style="border-radius:15px 15px 15px 15px;" class="button button-positive  button-block icon-left ion-android-car">Parqueaderos</a>
        <a ui-sref="entradaYSalidaVehiculos" id="formularios-button3" style="border-radius:15px 15px 15px 15px;" class="button button-positive  button-block icon-left ion-compose">Entrada y Salida Vehiculos</a>
        <a ui-sref="controlVisitantes" id="formularios-button4" style="border-radius:15px 15px 15px 15px;" class="button button-positive  button-block icon-left ion-android-walk">Control Visitantes</a>
        <a ui-sref="calidad" id="formularios-button5" style="border-radius:15px 15px 15px 15px;" class="button button-positive  button-block icon-left ion-android-checkmark-circle">Calidad</a>
        <a ui-sref="novedadesDelincuenciales" id="formularios-button6" style="border-radius:15px 15px 15px 15px;" class="button button-positive  button-block icon-left ion-sad-outline">Novedades Delincuenciales</a>
    </ion-content>
</ion-view>